@font-face {
    font-family: "BTraffic";
    src: url("../fonts/BTraffic.ttf");
}
body{
	direction:rtl;
}
*{
	font-family:'BTraffic' !important;
}
input{
	direction:rtl;
}
#login{
	display:block;
	width:40%;
	margin:5% auto;
	
}	
.form-item{
	text-align:center;
	font-family:BTraffic;
}
.form-item input{
	width:50%;
	font-size:large;
	margin:1% auto;
	font-family:BTraffic;
}
.submit-sec{
	text-align:center;
}
.submit-sec *{
	font-family:BTraffic;
	font-size:large;
	text-align:center;
}
.login-header{
	font-family:BTraffic;
	text-align:center;
	margin:5% auto;
}
label.err{
	font-family:BTraffic;
	color:red;
	text-align:center;
	display:block;
	margin:0 auto;
}
label.success{
	text-align: center;
	margin: 0 auto;
	display: block;
	color: #07b753;
	font-size: larger;
}



/*footer*/


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#d1cccf;
   padding:1% 0 2% 0;
   text-align:center;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

